Repository openBackhaul/RegistryOffice, changes with the owners that .github/CODEOWNERS names for each.
All owners: @IswaryaaS, @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9

Resolve putIntegerProfileIntegerValue must retrun 400 if the interger value is not with in the expected range Fixes #490
  server/service/IntegerProfileService.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

update npm package to alpha.22
  server/package-lock.json
  server/package.json
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

issue-495 : Added eslint configuration
  server/.eslintrc.json
  server/.husky/pre-commit
  server/.lintstagedrc.json
  server/controllers/.eslintrc.json
  server/package-lock.json
  server/package.json
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

issue-495 : fixed eslint errors
  server/controllers/BasicServices.js
  server/controllers/IndividualServices.js
  server/controllers/OperationServer.js
  server/service/ActionProfileService.js
  server/service/BasicServicesService.js
  server/service/FileProfileService.js
  server/service/GenericResponseProfileService.js
  server/service/HttpClientService.js
  server/service/IndividualServicesService.js
  server/service/IntegerProfileService.js
  server/service/OperationServerService.js
  server/service/TcpServerService.js
  server/service/individualServices/PrepareForwardingAutomation.js
  server/service/individualServices/PrepareForwardingConfiguration.js
  server/service/individualServices/SoftwareUpgrade.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

Added eslint github workflow.
  .github/workflows/eslint.yaml
Owners: none

Added eslint & fixed eslint errors (#496)
  .github/workflows/eslint.yaml
  server/.eslintrc.json
  server/.husky/pre-commit
  server/.lintstagedrc.json
  server/controllers/.eslintrc.json
  server/controllers/BasicServices.js
  server/controllers/IndividualServices.js
  server/controllers/OperationServer.js
  server/package-lock.json
  server/package.json
  server/service/ActionProfileService.js
  server/service/BasicServicesService.js
  server/service/FileProfileService.js
  server/service/GenericResponseProfileService.js
  server/service/HttpClientService.js
  server/service/IndividualServicesService.js
  server/service/IntegerProfileService.js
  server/service/OperationServerService.js
  server/service/TcpServerService.js
  server/service/individualServices/PrepareForwardingAutomation.js
  server/service/individualServices/PrepareForwardingConfiguration.js
  server/service/individualServices/SoftwareUpgrade.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

Removed husky.
  server/.husky/pre-commit
  server/.lintstagedrc.json
  server/package-lock.json
  server/package.json
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

Removed husky.
  server/.husky/pre-commit
  server/.lintstagedrc.json
  server/package-lock.json
  server/package.json
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

change logic for application data if preceding-data is not present in request-body
  server/service/individualServices/ApplicationPreceedingVersion.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

issue-500 : used new classes from AP, AP/BS
  server/controllers/BasicServices.js
  server/package-lock.json
  server/package.json
  server/service/IndividualServicesService.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

Removed unused and deprecated stuff.
  server/controllers/ActionProfile.js
  server/controllers/FileProfile.js
  server/controllers/GenericResponseProfile.js
  server/controllers/IntegerProfile.js
  server/service/GenericResponseProfileService.js
  server/service/IndividualServicesService.js
  server/service/individualServices/MonitorTypeApprovalChannel.js
  server/utils/writer.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

AP-854 : removed ApplicationProfile references
  server/service/individualServices/MonitorTypeApprovalChannel.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

Fixes #478
  testing/RegistryOffice+testcases_softwareUpgrade.postman_collection.json
Owners: @IswaryaaS

issue-509 : new param for createOrUpdateApplicationLtpsAsync
  server/service/IndividualServicesService.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

issue511: Update the npm packages of BasicServices and ApplicationPattern to 2.0.2-alpha.2
  server/package.json
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

Correct UUID of TcpClient of CurrentController
  spec/RegistryOffice+config.json
Owners: none

Change releaseNumber of OR to 2.0.1
  spec/RegistryOffice+config.json
Owners: none

Change to 'find or update' in 1 occurrence
  spec/RegistryOffice.yaml
Owners: none

Exclude OR and NR from find in two occurrences
  spec/RegistryOffice.yaml
Owners: none

Remove OR info in embed-yourself call (fixes #512)
  spec/RegistryOffice.yaml
Owners: none

Change service-name to server-name (fixes #390)
  spec/RegistryOffice+forwardings.yaml
Owners: none

Update release number from 2.0.1 to 2.0.2
  spec/RegistryOffice+config.json
  spec/RegistryOffice+forwardings.yaml
  spec/RegistryOffice+profileInstances.yaml
  spec/RegistryOffice+services.yaml
  spec/RegistryOffice.yaml
Owners: none

Correct releaseNumbers and fakeIp
  spec/RegistryOffice+config.json
  spec/RegistryOffice+forwardings.yaml
  spec/RegistryOffice+profileInstances.yaml
  spec/RegistryOffice+services.yaml
  spec/RegistryOffice.yaml
Owners: none

resolve Testsuite adjustments Fixes #517
  testing/RegistryOffice+data.json
Owners: @IswaryaaS

package-lock.json updated
  server/package-lock.json
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

Add DeRegistrationBroadcast (fixes #519)
  spec/RegistryOffice+config.json
  spec/RegistryOffice+forwardings.yaml
  spec/RegistryOffice+services.yaml
  spec/RegistryOffice.yaml
  spec/diagrams/is002_DeregisterApplication.plantuml
Owners: none

Add diagram for creating management Links
  spec/RegistryOffice+config.json
  spec/RegistryOffice+forwardings.yaml
  spec/diagrams/is010_regardApprovalStatusCausesSequenceForEmbedding.plantuml
Owners: none

Add png of is010_regardApprovalStatusCausesSequenc
  spec/diagrams/is010_regardApprovalStatusCausesSequence.plantuml
  spec/diagrams/is010_regardApprovalStatusCausesSequence.png
Owners: none

Add regard-application process (fixes #520)
  spec/RegistryOffice+config.json
  spec/RegistryOffice+forwardings.yaml
  spec/RegistryOffice+services.yaml
  spec/RegistryOffice.yaml
  spec/diagrams/is010_regardApprovalStatusCausesSequence.plantuml
  spec/diagrams/is010_regardApprovalStatusCausesSequence.png
Owners: none

Explain dependency on Links being created
  spec/RegistryOffice+config.json
  spec/RegistryOffice+forwardings.yaml
  spec/RegistryOffice.yaml
  spec/diagrams/is010_regardApprovalStatusCausesSequence.plantuml
Owners: none

Update to AP v2.1.0
  spec/RegistryOffice+config.json
  spec/RegistryOffice+forwardings.yaml
  spec/RegistryOffice+profileInstances.yaml
  spec/RegistryOffice+services.yaml
  spec/RegistryOffice.yaml
  spec/diagrams/is002_DeregisterApplication.plantuml
  spec/diagrams/is002_DeregisterApplication.png
  spec/diagrams/is010_regardApprovalStatusCausesSequence.plantuml
  spec/diagrams/is010_regardApprovalStatusCausesSequence.png
Owners: none

Lint the YAMLs
  spec/RegistryOffice.yaml
Owners: none

Add conditions for creating links (fixes #527)
  spec/RegistryOffice.yaml
  spec/diagrams/is010_regardApprovalStatusCausesSequence.plantuml
Owners: none

Remove security at /v1/inform-about-preceding-release (fixes #548)
  spec/RegistryOffice+config.json
  spec/RegistryOffice+forwardings.yaml
  spec/RegistryOffice.yaml
  spec/diagrams/is010_regardApprovalStatusCausesSequence.plantuml
Owners: none

Consolidate findings in v2.1.0_spec
  spec/RegistryOffice+config.json
  spec/RegistryOffice+forwardings.yaml
  spec/RegistryOffice+services.yaml
  spec/RegistryOffice.yaml
  spec/diagrams/is010_regardApprovalStatusCausesSequence.plantuml
Owners: none

Consolidate findings in v2.1.0_spec
  spec/RegistryOffice+config.json
  spec/RegistryOffice+forwardings.yaml
  spec/RegistryOffice+services.yaml
  spec/RegistryOffice.yaml
  spec/reference.yml
Owners: none

Update process for embedding
  spec/RegistryOffice+config.json
  spec/RegistryOffice+forwardings.yaml
  spec/RegistryOffice+profileInstances.yaml
  spec/RegistryOffice+profiles.yaml
  spec/RegistryOffice.yaml
  spec/diagrams/is010_regardApprovalStatusCausesSequence.plantuml
Owners: none

Fixes #552
  server/api/openapi.yaml
  server/controllers/IndividualServices.js
  server/database/config.json
  server/database/load.json
  server/index.js
  server/package-lock.json
  server/service/IndividualServicesService.js
  server/service/individualServices/IndividualServicesOperationsMapping.js
  server/service/individualServices/PrepareForwardingAutomation.js
  server/service/individualServices/PrepareForwardingConfiguration.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

Update config.json file for file-path
  server/database/config.json
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

Update readmes; add additionalProperties: false (fixes #542)
  spec/README.md
  spec/RegistryOffice+config.json
  spec/RegistryOffice+forwardings.yaml
  spec/RegistryOffice.yaml
  spec/diagrams/README.md
  spec/reference.yml
Owners: none

.github/CODEOWNERS:

@openBackhaul
/testing/ @IswaryaaS
/server/  @PrathibaJee @MartinSunal @DanaSunal @vanithavalluripalli9 @IswaryaaS
/docs/    @PrathibaJee @IswaryaaS
