Repository openBackhaul/RegistryOffice, changes with the owners that .github/CODEOWNERS names for each.
All owners: @IswaryaaS, @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9

Fixes #554
  server/controllers/IndividualServices.js
  server/database/config.json
  server/service/IndividualServicesService.js
  server/service/individualServices/IndividualServicesOperationsMapping.js
  server/service/individualServices/PrepareForwardingAutomation.js
  server/service/individualServices/PrepareForwardingConfiguration.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

Fix linting error
  spec/RegistryOffice+forwardings.yaml
Owners: none

Finalize 2.1.1_spec
  spec/RegistryOffice+config.json
  testing/RegistryOffice+data.json
Owners: @IswaryaaS

Add /v1/notify-embedding-status-changes to ServiceRequestCausesFcUpdateRequest (fixes #561)
  spec/RegistryOffice+config.json
  spec/RegistryOffice+forwardings.yaml
Owners: none

Update yaml-lint.yaml
  .github/workflows/yaml-lint.yaml
Owners: none

Update api/openapi.yaml file
  server/api/openapi.yaml
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

issue-509 : new param for createOrUpdateApplicationLtpsAsync (#510)
  server/service/IndividualServicesService.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

Adjust FileProfile implementation to new spec (replace file-path by file-name) Fixes #514
  server/controllers/FileProfile.js
  server/database/config.json
  server/index.js
  server/service/FileProfileService.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

Fixes #556
  server/service/IndividualServicesService.js
  server/service/individualServices/SoftwareUpgrade.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

Initial changes to issue #555
  server/controllers/IndividualServices.js
  server/database/config.json
  server/package-lock.json
  server/package.json
  server/service/IndividualServicesService.js
  server/service/individualServices/EventDispatcherWithResponse.js
  server/service/individualServices/IndividualServicesUtility.js
  server/service/individualServices/PrepareForwardingAutomation.js
  server/service/individualServices/PrepareForwardingConfiguration.js
  server/service/individualServices/RegardUpdatedApprovalProcess.js
  server/service/individualServices/SoftwareUpgrade.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

Minor updates to regard-updated-approval-status
  server/application-data/application-data.json
  server/database/config.json
  server/service/IndividualServicesService.js
  server/service/individualServices/IndividualServicesUtility.js
  server/service/individualServices/RegardUpdatedApprovalProcess.js
  server/service/individualServices/SoftwareUpgrade.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

Added support to ApprovalNotification callback
  server/service/IndividualServicesService.js
  server/service/individualServices/RegardUpdatedApprovalProcess.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

Updated /v1/regard-updated-approval-status
  server/database/config.json
  server/service/IndividualServicesService.js
  server/service/individualServices/IndividualServicesUtility.js
  server/service/individualServices/RegardUpdatedApprovalProcess.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

comments updated
  server/service/individualServices/RegardUpdatedApprovalProcess.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

Findings on testing with AP 2.1.1-alpha.2
  server/database/config.json
  server/package-lock.json
  server/package.json
  server/service/IndividualServicesService.js
  server/service/individualServices/RegardUpdatedApprovalProcess.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

Updates based on testing with AP package 2.1.1-alpha.3
  server/controllers/BasicServices.js
  server/controllers/IndividualServices.js
  server/database/config copy.json
  server/service/IndividualServicesService.js
  server/service/individualServices/IndividualServicesUtility.js
  server/service/individualServices/PrepareForwardingAutomation.js
  server/service/individualServices/RegardUpdatedApprovalProcess.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

correcting trace-indicators
  server/service/individualServices/RegardUpdatedApprovalProcess.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

rounding execTime in controllers
  server/controllers/BasicServices.js
  server/controllers/IndividualServices.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

remove configCopy.json file
  server/database/config copy.json
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

Fixes #574
  server/service/IndividualServicesService.js
  server/service/individualServices/IndividualServicesUtility.js
  server/service/individualServices/RegardUpdatedApprovalProcess.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

minor corrections in regardUpdatedApprovalStatus workflow
  server/service/individualServices/RegardUpdatedApprovalProcess.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

Fixes #576
  server/service/IndividualServicesService.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

Mechanism to handle 2 consecutive regard application request Fixes #578
  server/service/IndividualServicesService.js
  server/service/individualServices/IndividualServicesUtility.js
  server/service/individualServices/RegardUpdatedApprovalProcess.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

/V1/REGISTER-YOURSELF creates duplicate uuids when there is a change in the registry-office-application-release-number Fixes #457
  server/package-lock.json
  server/package.json
  server/service/individualServices/RegardUpdatedApprovalProcess.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

/V1/REGISTER-YOURSELF creates duplicate uuids when there is a change in the registry-office-application-release-number (#580)
  server/package-lock.json
  server/package.json
  server/service/individualServices/RegardUpdatedApprovalProcess.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

To include GENERIC_RESPONSE_PROFILE instance for the release "2.1.1" Fixes #581
  server/database/config.json
  server/package-lock.json
  server/package.json
  server/service/individualServices/SoftwareUpgrade.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

To include GENERIC_RESPONSE_PROFILE instance for the release "2.1.1" (#585)
  server/database/config.json
  server/package-lock.json
  server/package.json
  server/service/individualServices/SoftwareUpgrade.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

To merge V2.1.1_impl to develop and to main to publish Fixes #588
  server/service/IndividualServicesService.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

To merge V2.1.1_impl to develop and to main to publish (#591)
  server/service/IndividualServicesService.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

To merge V2.1.1_impl to develop and to main to publish Fixes #588
  server/service/IndividualServicesService.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

To merge V2.1.1_impl to develop and to main to publish (#594)
  server/service/IndividualServicesService.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

Resolving eslint problem
  server/controllers/IndividualServices.js
  server/service/IndividualServicesService.js
  server/service/individualServices/EventDispatcherWithResponse.js
  server/service/individualServices/PrepareForwardingAutomation.js
  server/service/individualServices/RegardUpdatedApprovalProcess.js
  server/service/individualServices/SoftwareUpgrade.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

resolving eslint issues
  server/service/IndividualServicesService.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

V2.1.1_impl (#595)
  server/api/openapi.yaml
  server/application-data/application-data.json
  server/controllers/BasicServices.js
  server/controllers/FileProfile.js
  server/controllers/IndividualServices.js
  server/database/config.json
  server/database/load.json
  server/index.js
  server/package-lock.json
  server/package.json
  server/service/FileProfileService.js
  server/service/IndividualServicesService.js
  server/service/individualServices/EventDispatcherWithResponse.js
  server/service/individualServices/IndividualServicesOperationsMapping.js
  server/service/individualServices/IndividualServicesUtility.js
  server/service/individualServices/PrepareForwardingAutomation.js
  server/service/individualServices/PrepareForwardingConfiguration.js
  server/service/individualServices/RegardUpdatedApprovalProcess.js
  server/service/individualServices/SoftwareUpgrade.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

To merge develop branch to main to tag 2.1.1_impl (#596)
  server/api/openapi.yaml
  server/application-data/application-data.json
  server/controllers/BasicServices.js
  server/controllers/FileProfile.js
  server/controllers/IndividualServices.js
  server/database/config.json
  server/database/load.json
  server/index.js
  server/package-lock.json
  server/package.json
  server/service/FileProfileService.js
  server/service/IndividualServicesService.js
  server/service/individualServices/EventDispatcherWithResponse.js
  server/service/individualServices/IndividualServicesOperationsMapping.js
  server/service/individualServices/IndividualServicesUtility.js
  server/service/individualServices/PrepareForwardingAutomation.js
  server/service/individualServices/PrepareForwardingConfiguration.js
  server/service/individualServices/RegardUpdatedApprovalProcess.js
  server/service/individualServices/SoftwareUpgrade.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

To update docker file to node version 18 Fixes #597
  server/database/config.json
  server/dockerfile
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

To update docker file to node version 18 (#598)
  server/database/config.json
  server/dockerfile
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

To correct the trace-indicator for the forwardings of /v1/regard-updated-approval-status Fixes #584
  server/controllers/IndividualServices.js
  server/database/config.json
  server/service/IndividualServicesService.js
  server/service/individualServices/RegardUpdatedApprovalProcess.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

Merging develop to main to tag the v2.1.1_impl (#600)
  server/controllers/IndividualServices.js
  server/database/config.json
  server/dockerfile
  server/service/IndividualServicesService.js
  server/service/individualServices/RegardUpdatedApprovalProcess.js
Owners: @PrathibaJee, @MartinSunal, @DanaSunal, @vanithavalluripalli9, @IswaryaaS

Update file-path attribute to file-name (fixes #564)
  spec/RegistryOffice+config.json
  spec/RegistryOffice+profileInstances.yaml
  spec/RegistryOffice+profiles.yaml
Owners: none

.github/CODEOWNERS:

@openBackhaul
/testing/ @IswaryaaS
/server/  @PrathibaJee @MartinSunal @DanaSunal @vanithavalluripalli9 @IswaryaaS
/docs/    @PrathibaJee @IswaryaaS
